@import url("font3/stylesheet.css");
@import url("font2/stylesheet.css");
@import url("font2/font.css");
header, nav, article, footer, address,section {
    display: block;
}

*{
	margin:0;
	padding:0;
}

html, body {
  height: 100%;
  background:url(../img/body-bg.png) repeat-y top center;


}

img{
		border:none;
	outline:none;
}
a:hover{
	text-decoration:none;

}
.clear{
	float:none;
	clear:both;
}
.wrap{
	max-width:1030px;
	width:100%;
	margin:0 auto;
}
.main {
  background: url("../img/top-img1.png") no-repeat  center top / contain;
  width: 100%;
  position:relative;
  overflow:hidden;
}
header {
  margin-bottom: 0;
  padding: 10px 0 0 40px;
  position: relative;
  z-index: 6;
}
.arrorrr{
	display:none;
}
.doc-flow1{
	display:none;
}

.doc-img1{
 display:none;
}
header p{
	font-family:'calibriregular';
	color:#fff;
	font-size:18px;
	font-weight:normal;
	line-height:24px;
}
header p b{
	color:#f6ca15;
}
.section1 {
  background: url("../img/sectoion1-bg.png") no-repeat left top / contain;
  height: auto;
  width: 100%;
  position:relative;
  z-index:1;
}
.top-left{
	position:absolute;
	left:-10px;
	top:0;
	z-index:5;
	
}
.top-right{
	position:absolute;
	right:-10px;
	top:0px;
	z-index:5;

}
.sec1-left{
	max-width:625px;
	width:100%;
	float:left;
	
}
.sec2-right{
	float:left;
	max-width:335px;
	width:100%;
	position:relative;
}
.metalic {
  height: 625px;
  margin-left: -45px;
  position: relative;
}
.logo {
  padding-right: 40px;
  padding-top: 25px;
  text-align: right;
}
.quick-text{
	text-align:right;
	 padding-right: 10px;
}
.green {
  background: url("../img/tema1-bg.png") repeat-y left top;
  color: #F8F5FA;
  float: right;
  padding:8px 30px 8px 5px;
  text-align: right;
  width: 255px;
  font-family:'MyriadProSemibold';
  font-size:17px;
  margin-bottom:3px;
    font-weight:normal; 
}
.tema{
	position:absolute;
	left:0;
}
.green2 {
  background: url("../img/green2.png") repeat-y left top;
  color: #F8F5FA;
  float: right;
  padding:8px 30px 7px 5px;
  text-align: right;
  width: 255px;
  font-family:'MyriadProSemibold';
   font-size:17px; 
   margin-bottom:3px;
   font-weight:normal;  
}
.metalic-tag{
	float:right;
	width:50%;
}
.mc{
	padding-top:20px;
	display:block;
	
}
.form{
	background:url(../img/form-bg.png) no-repeat top left;
	border:5px solid #fff;
	border-radius:8px;
}
.form-txt{
	text-align:center;
	padding:10px 0 20px;
}
.form-inner{
	max-width:292px;
	margin:0 auto;
}
.form-inner input[type="text"]{
	width:185px;
	background:#fff;
	height:28px;
	border:none;
}
.form-inner span{
	font-family: 'calibribold';
	font-size:14px;
	color:#fff;
	padding-right:15px;
	text-align:right;
	width:91px;
	float:left;
}
.form-field{
	margin-bottom:9px;
	
}
.oder-bt input[type="submit"]{
	background:url(../img/order-bt.png) no-repeat left center;
	border:none;
	font-size:0;
	width:311px;
	height:81px;
	cursor:pointer;
	margin-bottom:15px;
	
}
.oder-bt{
	margin-left:-8px;
	padding-top:8px;
	position:relative;
}
.arrow {
  position: absolute;
  right: -40px;
  top: 21px;
}
.good{
	background:url(../img/good-bt.png) no-repeat left top;
	display:block;
	width:38px;
	height:84px;
}
.best{
	background:url(../img/best-bt.png) no-repeat left top;
	display:block;
	width:38px;
	height:84px;
	border-radius:8px;
}
.true{
	background:url(../img/truebt.png) no-repeat left top;
	display:block;
	width:38px;
	height:84px;
	border-radius:5px;	
}
.side-menu a{
	margin-bottom:10px;
	display:block;
	cursor:none;
}

.side-menu{
	 position: absolute;
    right: -32px;
    top: 34%;
    z-index: -1;
}
.shadow{
	background:url(../img/shadbot.png) no-repeat top right;
	width:100%;
	height:33px;
	max-width:965px;
	margin:0 auto;
}


.work{
	background:#fff url(../img/work.png) no-repeat right top;
	padding:20px 25px 0 25px;
	border-radius:8px;
	margin-top:10px;
	position:relative;
	margin-bottom:45px;
}
.work h1{
	font-family:'georgiabold';
	color:#461e0c;
	font-size:30px;
	text-transform:uppercase;
	margin-bottom:10px;
}
.work h1 span{
		color:#186806;
	font-size:48px;
	text-transform:uppercase;

}
.work p{
	font-family: 'Open Sans', sans-serif;
	color:#461e0c;
	font-size:14px;
	line-height:24px;
	width:60%;

}
.work h2{
	font-family: 'Open Sans', sans-serif;
	color:#0d2c03;
	font-size:16px;
	line-height:24px;
	width:50%;
	font-weight:bold;
	text-transform:uppercase;
	line-height:24px;
	margin-top:25px;
	padding-bottom:15px;
	

}
.work-arrow{
	background:url(../img/work-arrow.png) no-repeat left top;
	position:absolute;
	right:-65px;
	bottom:-45px;
	width:109px;
	height:135px;
}


.frm{
	max-width:330px;
	width:100%;
	float:left;
}
.report-form{

	background:url(../img/form2-bg.png) no-repeat left top;
	border:5px solid #fff;
	border-radius:10px;
}
.report-content{
	max-width:474px;
	width:100%;
	float:right;
	text-align:right;
}
.reprt-txt{
	padding:30px 0 15px 0;
	border-bottom:1px solid #000;
	text-align:center;
}
.report-form h1{
	font-family:'league_gothicregular';
	color:#fff;
	font-size:30px;
	text-transform:uppercase;
	font-weight:normal;
	text-align:center;
	line-height:36px;
	
}
.report-form  span {
  color: #FFFFFF;
  float: left;
  font-family: 'calibribold';
  font-size: 14px;
  padding-right: 15px;
  text-align: right;
  width: 91px;
}
.report-form input[type="text"] {
  background: none repeat scroll 0 0 #FFFFFF;
  border: medium none;
  height: 28px;
  width: 185px;
}
.report-login {
  margin: 0 auto;
  width: 304px;
  padding-top:20px;
}
.get{
	text-align:center;
	margin-top:20px;
}
.report-bt input[type="submit"]{
	background:url(../img/report-bt.png) no-repeat left top;
	border:none;
	cursor:pointer;
	font-size:0;
	width:311px;
	height:81px;

}
.report-bt{
	text-align:center;
	position:relative;
	margin-bottom:17px;
}
.report-bt .arro {
  bottom: -5px;
  position: absolute;
  right: -22px;
}
.form-shad{
	margin-top:10px;
}
.report-content h1{
	font-size:26px;
	color:#fff;
	text-transform:uppercase;
	font-family:'GeorgiaRegular';
	padding-bottom:5px;
	text-align:right;
	letter-spacing:-1.5px;
	font-weight:normal;
	border-bottom:1px solid #fff;
	display:inline-block;

}

.link li{
	
	padding-left:25px;
	color:#fefefe;
	font-size:14px;
	list-style:none;
	font-family: 'Open Sans', sans-serif;
	line-height:27px;
}
.link li img{
	padding-right:4px;
}
.link{
	text-align:right;
	padding-top:6px;
	margin-bottom:20px;
}
.report-content p{
	color:#fba80f;
	font-size:14px;
	text-align:right;
	font-family: 'Open Sans', sans-serif;	
	padding-bottom:10px;
}

.report{
	position:relative;
}
.help{
  left: 29%;
  position: absolute;
  top: -65px;
}


.doctor {
  border-radius: 8px;
  margin-bottom: 45px;
  margin-top:0px;
  padding:10px 40px 5px 15px;
  position: relative;
  background:#fff;
}
.doc-flow{
	 left: 0;
    position: absolute;
    top: -73px;
}
.doc-img{
	float:left;
	padding-right:10px;
}
.doc-con{
	text-align:right;
	padding-top:15px;
}

.doc-con p{
	color:#461e0c;
	font-size:14px;
	text-align:left;
	font-family: 'Open Sans', sans-serif;	
	line-height:24px;
	margin-bottom:20px;
	padding-right:40px;
}
.top{
	margin-bottom:20px
}
.suger-botl {
  bottom: -40px;
  position: absolute;
  right: -70px;
}

.wrap2{
	max-width:1030px;
	margin:-25px auto 0;
	background:url(../img/testi-bg1.png) no-repeat left top;
	padding:55px 55px 15px;
}
.real-text{
	padding-left:20px;
}
.vedios{
	margin-top:40px;
}
.vedios .vidoe{
	float:left;
	margin-right:12px;
}
.video-text{
	padding-top:40px;
}
.video-text h1 {
  color: #461E0C;
  font-family: 'GeorgiaRegular';
  font-size: 29px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 40px;
  text-align: center;
   transform:scale(1,1.2);
    -webkit-transform:scale(1,1.2);
    -moz-transform:scale(1,1.2);
    -ms-transform:scale(1,1.2);
    -o-transform:scale(1,1.2);
}
.real-text{
	text-align:left;
	padding-left:0;
}
.real-text h1 {
  color: #461e0c;
  font-size: 38px;  
  font-family: 'georgiabold';
  letter-spacing: -1px;
  line-height: 40px;
  text-align: left;
  text-transform:uppercase;
     transform:scale(.9,1.2); /* W3C */
    -webkit-transform:scale(.9,1.2); /* Safari and Chrome */
    -moz-transform:scale(.9,1.2); /* Firefox */
    -ms-transform:scale(.9,1.2); /* IE 9 */
    -o-transform:scale(.9,1.2); /* Opera */
	margin-top:15px;
	margin-left:-60px;
}
.real-text span {
	  color: #186806;
  font-size: 50px;
}
.want {
  margin-left: -20px;
  padding: 40px 0 35px;
  position: relative;
  text-align: left;
}
.want-arrow{
	 left: -28px;
    position: absolute;
    top: 15px;
}
.want-rarrow{
	  position: absolute;
    right: -45px;
    top: 15px;
}
.quick{
	background:url(../img/qui-bg.png) no-repeat left top;
	width:100%;
	max-width:1000px;
	margin:0 auto;
	position:relative;
	height:574px;
}
.qu-letop {
  bottom: -35px;
  left: -193px;
  position: absolute;
}
.qu-rightop{
	position:absolute;
	right:-170px;
	top:0;
}
.logotxt{
	padding:10px 0 0 25px;
}
.logos a{
	display:inline-block;
	margin-right:15px;
}
.logos {
  position: absolute;
  right: 10px;
  top: 5%;
}
.you{
	  margin-left: 27%;
    margin-top: 17%;
}
.order{
	position:relative;
}
.botarrow {
  position: absolute;
  right: -25px;
  top: -55px;
}
.claim-bt {
  margin-left: 11.5%;
  margin-top: 3%;
}
footer {
  border-top: 1px solid #000000;
  margin: 50px auto 0;
  max-width: 1000px;
  padding: 20px 0;
  text-align:center;
  
}
footer span,footer a{
	color:#071d00;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
}













.wrap4{
	margin:0 auto;
	max-width:1000px;
}
.option{
	max-width:600px;
	width:100%;
	float:left;
}
.op-form{
	max-width:370px;
	width:100%;
	float:right;
}

.tt{
	background:url(../img/top-h1-bg.png) repeat-x left top;
	font-family:'georgiabold';
	color:#0d2a03;
	font-size:29px;
	font-weight:normal;
	padding:5px 30px;
	border-radius:10px;

}
.option-box{
	background:url(../img/tagbg.png) no-repeat left top;
	width:100%;
	height:198px;
	margin-top:15px;
}
.check{
	float:left;
}
.op-con {
  border: 4px solid #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 1px 1px 1px #DDDDDD;
  float: right;
  margin:6px 10px 10px 0;
  padding: 5px;
  width:500px;
}
.op-con:hover{
	  border: 4px solid #ba0000;
}
.active{
	  border: 4px solid #ba0000!important;
}
.check input[type="radio"]{
	 margin-left: 32px;
    margin-top: 88px;
	
}
.op-con-left{
	float:left;
}
.op-con-right{
	float:right;
	text-align:center;
}
.op-con-left h1 {
  color: #461E0C;
  font-family: 'MyriadProBoldCondensed';
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  width: 233px;
}
.month {
  border: 5px solid #5BAA42;
  width: 240px;
}
.month h1 {
  color: #0D2B03;
  font-family: 'Oxygen-Bold';
  font-size: 22px;
  font-weight: normal;
  line-height: 30px;
  padding: 2px 0 5px;
  text-transform: uppercase;
}
.pro-img {
  display: table-cell;
  height: 130px;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
}
.op-con-right span {
  color: #BA0000;
  display: block;
font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding: 5px 0;
  }
  span.pc {
	
	background: -webkit-linear-gradient(top, #878787, #000);
	background: linear-gradient(top, #878787, #000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.ship-link a{
	color:#4e1931;
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	display:block;
	padding:5px 0;
}
.ship-link span{
	color:#4e1931;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
}
.sp-op {
  float: left;
}
.sp {
  float: right;
  padding-top: 20px;
}
.bill-head1{
	background:#5baa42;
	border-radius:9px 9px 0 0;

}
.bill-head1 h1 {
  color: #FFFFFF;
  display: block;
font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: normal;
  padding: 7px 25px 12px;
}
.bill{
	border:1px solid #73b55e;
	margin-top:25px;
	border-radius:10px;	
}
.bill-con{
	background:#fff;
	padding:25px 50px;
	border-radius:0px 0 10px 10px;	
}
.tot{
	border-bottom:1px solid #0f3703;
	text-align:right;
	padding-bottom:15px;
}
.tot span{
 font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  font-weight: 600;
  color:#461e0c;
  display:block;
}

.total h1{
	 font-family: 'Open Sans',sans-serif;
  font-size: 24px;
  font-weight: 600;
  color:#bc0000;
  padding:5px 0;
}
.total{
	border-bottom:4px double #0f3703;
	text-align:right;
}
.addcode{
	text-align:right;
	margin-top:15px;
}
.txt1{
	background:url(../img/text-bg.png) repeat-x left top;
	width:200px;
	height:38px;
	border-left:1px solid #9dabb8;
	border-right:1px solid #9dabb8;
	border-bottom:none;
	border-top:none;
}
.addcode span{
		 font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  font-weight: 600;
  color:#461e0c;
}
.app{
	text-align:right;
	margin-top:15px;
}
.app input[type="submit"]{
	background:#bc0000;
	border:none;
	color:#fff;
	font-size:18px;
	text-transform:uppercase;
   font-family: 'Open Sans',sans-serif;	
   font-weight:600px;
   padding:8px 50px;
   border-radius:10px;
   cursor:pointer;
}
.app input[type="submit"]:hover{
		background:#5baa42;
}
.step-form{
background:url(../img/stepbg.png) no-repeat left top;
padding:15px 12px;
margin-top:15px;	
}
.pl{
	text-align:center;
}
.sel-box{
	background:#fff;
	padding:8px 18px 5px 18px;
	margin-top:6px;
}
.ch-bx {
  float: left;
  height: 32px;
  margin-right: 25px;
}
.ch-bx img{
	vertical-align:middle;
	margin-left:5px;
}
.form-step{
	padding:0 20px;
}
.sp-field{
	background:url(../img/txt-bg.png) repeat-x top left;
	width:100%;
	border:none;
	height:30px;
}
.txt-step{
	margin-top:13px;
}
.txt-step span{
		font-family:'calibribold';
		color:#fff;
		font-size:14px;
		display:block;
		margin-bottom:5px;
}
.chk{
		font-family:'calibribold';
		color:#fff;
		font-size:14px;
		display:inline;
		margin-bottom:5px;
		margin-right:50px;
}
.wd{
	width:82px;
	margin-right:10px;
}
.txt-step .p{
		font-family:'calibribold';
		color:#f8a10e;
		font-size:14px;
		display:inline;
}
.chk1 input{
	float:left;
	margin-top:5px;
	margin-right:10px;
}
.chk1 p,.chk1 a{
			font-family:'calibribold';
		color:#fff;
		font-size:14px;
		display:inline;
}
.chk1 p{
	float:left;
}
.or-bt input{
	background:url(../img/or-bt.png) no-repeat left top;
	border:none;
	font-size:0;
	width:338px;
	height:81px;
	margin-top:20px;
}
.mc1{
	text-align:center;
	padding:10px 0;
	
}
footer p{
	color:#fff;
	font-size:13px;
	text-transform:uppercase;
	margin-top:15px;
	font-family:'TradeGothicLightLight';
}
.confirm{
	background:url(../img/bg.png) repeat top left;
	padding:65px 0;
	text-align:center;
	border-radius:10px;
}
.confirm span{
   color:#0d2803;
   font-size:30px;
font-family: 'Open Sans Condensed', sans-serif;   
font-weight:700px;
}
.confirm h1 {
  color: #461E0C;
  display: block;
  font-family: GeorgiaRegular;
  font-size: 72px;
  font-weight: bold;
  padding: 15px 0;
       transform:scale(.9,1.2); /* W3C */
    -webkit-transform:scale(.9,1.2); /* Safari and Chrome */
    -moz-transform:scale(.9,1.2); /* Firefox */
    -ms-transform:scale(.9,1.2); /* IE 9 */
    -o-transform:scale(.9,1.2); /* Opera */
}

.check input[type=radio].css-checkbox {
							display:none;
						}

						.check input[type=radio].css-checkbox + label.css-label {
							padding-left:37px;
							height:28px; 
							display:inline-block;
							line-height:28px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:32px;
							vertical-align:middle;
							cursor:pointer;
							margin-top:81px;
							margin-left:24px;

						}

						.check input[type=radio].css-checkbox:checked + label.css-label {
							background-image:url(../img/checked.png);
						}
						.check label.css-label {
				background-image:url(../img/ck.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			
    .option-box:hover label.css-label {
							background-image:url(../img/checked.png)!important;
						}
	   .act label.css-label {
							background-image:url(../img/checked.png)!important;
						}					
						
 input[type=radio].css-checkbox2 {
							display:none;
						}

						 input[type=radio].css-checkbox2 + label.css-label2 {
							padding-left:0px;
							height:21px; 
							display:inline-block;
							line-height:21px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:32px;
							vertical-align:middle;
							cursor:pointer;
							margin-top:0px;
							margin-left:0px;

						}

						 input[type=radio].css-checkbox2:checked +  label.css-label2 {
							background-image:url(../img/ched2.png);
						}
					 label.css-label2 {
				background-image:url(../img/ch1.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				width:21px;
				height:21px;
				display:inline-block;
			}	
			
 input[type=radio].css-checkbox3 {
							display:none;
						}

						 input[type=radio].css-checkbox3 + label.css-label3 {
							padding-left:0px;
							height:14px; 
							display:inline-block;
							line-height:14px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:32px;
							vertical-align:middle;
							cursor:pointer;
							margin-top:0px;
							margin-left:0px;

						}

						 input[type=radio].css-checkbox3:checked +  label.css-label3 {
							background-image:url(../img/smck.png);
						}
					 label.css-label3 {
				background-image:url(../img/smch2.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				width:14px;
				height:14px;
				display:inline-block;
			}						
			
			
								
.hurry{
    bottom: 60px;
    position: absolute;
    right: -70px;
}			

.testi {
  color: #461E0C;
  font-family: 'MyriadProBoldCondensed';
  font-size: 24px;
  padding-bottom: 75px;
  text-align: center;
  text-transform: uppercase;
}

.want-bt{
	background:url(../img/want-bt.png) no-repeat left top;
	width:101%;
	height:102px;
	display:block;
}