<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Diabetes</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>  
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <script>$(document).ready(function(){
      $('.check1 > .css-label').click(function(){
      $('.op-con1').removeClass("active");
      $('.op-con1').addClass("active");
      });

      });
    </script>
  </head>

  <body>
    <div class="main">
      <div class="top-left"><img src="img/top-left.png"></div>
      <div class="top-right"><img src="img/top-right.png"></div>
      <div class="wrap4">

        <header>
          <p>
            <b>WARNING:</b> Due to popular TV demand our stores are struggling to <br />
            keep supply in stock. As of November 28, 2013 we do have a limited supply IN STOCK <br />
            and ready to ship within 24 hours.
          </p>

        </header><!--header-->

        <section class="bill-head">
          <div class="blhd"><img src="img/top-header.png"></div>
        </section><!--bill-head-->
        <section class="bill-option">
          <div class="option">
            <div class="tt">1. Select Your Package</div>
            
            <div class="option-box">
              <div class="check act">
                <input type="radio" class="css-checkbox" id="radio1" name="radiog_lite">
                <label for="radio1" class="css-label"></label>
              </div>
              <div class="op-con active">
                <div class="op-con-left">
                  <h1>Most Economical</h1>
                  <div class="pro-img">
                    <img src="img/pro1.png">
                  </div>
                </div>
                <div class="op-con-right">
                  <div class="month">
                    <h1>6 Month Supply</h1>
                  </div>
                  <span class="pc">$30 per bottle</span>
                  <div class="ship-link">
                    <a href="#">FREE SHIPPING</a>
                    <span>(Domestic USA  Users Only)</span>
                  </div>
                </div>
                <div class="clear"></div>
                
              </div>
              <div class="clear"></div>
            </div>
            
            <div class="option-box">
              <div class="check">
                <input type="radio" class="css-checkbox" id="radio2" name="radiog_lite">
                <label for="radio2" class="css-label"></label>
              </div>
              <div class="op-con ">
                <div class="op-con-left">
                  <h1>Most Popular Choice</h1>
                  <div class="pro-img">
                    <img src="img/pro2.png">
                  </div>
                </div>
                <div class="op-con-right">
                  <div class="month">
                    <h1>90 day Supply</h1>
                  </div>
                  <span>$30 per bottle</span>
                  <div class="ship-link">
                    <div class="sp-op">
                      <a href="#">FREE SHIPPING</a>
                      <span>(Domestic USA  Users Only)</span>
                    </div>
                    <div class="sp"><img src="img/ship.png"></div>
                    <div class="clear"></div>
                  </div>
                </div>
                <div class="clear"></div>
                
              </div>
              <div class="clear"></div>
            </div>
            
            <div class="option-box">
              <div class="check">
                <input type="radio" class="css-checkbox" id="radio3" name="radiog_lite">
                <label for="radio3" class="css-label"></label>
              </div>
              <div class="op-con">
                <div class="op-con-left">
                  <h1>Buy One Bottle</h1>
                  <div class="pro-img">
                    <img src="img/pro3.png">
                  </div>
                </div>
                <div class="op-con-right">
                  <div class="month">
                    <h1>30 day Supply</h1>
                  </div>
                  <span>$39.95 </span>
                  <div class="ship-link">
                    <div class="sp-op">
                      <a href="#">FREE SHIPPING</a>
                      <span>(Domestic USA  Users Only)</span>
                    </div>
                    <div class="sp"><img src="img/ship.png"></div>
                    <div class="clear"></div>
                  </div>
                </div>
                <div class="clear"></div>
                
              </div>
              <div class="clear"></div>
            </div>
            
            
            <div class="bill">
              <div class="bill-head1">
                <h1>Melabic 6 Bottles</h1>
              </div>
              <div class="bill-con">
                <div class="tot">
                  <span>Sub-Total: $179.00</span>
                  <span>Shipping & Handling: $0</span>
                </div>
                <div class="total">
                  <h1>Total: $179.00</h1>
                </div>
                <div class="addcode">
                  <span>Promo Code:	</span><input type="text" class="txt1">
                </div>
                <div class="app">
                  <input type="submit" value="Apply">
                </div>
              </div>
            </div>
          </div><!--option-->
          <form class="op-form" method="POST">
            <div class="tt">2. Final Step</div>
            <div class="step-form">
              <div class="pl"><img src="img/plese-txt.png"></div>
              <div class="sel-box">
                <div class="ch-bx">
                  <input type="radio" class="css-checkbox2" id="radio12" name="radiog_lite">
                  <label for="radio12" class="css-label2" style="margin-top:-5px" checked="checked"></label>
                  <img src="img/visa.png">
                </div>
                <div class="ch-bx">
                  <input type="radio" class="css-checkbox2" id="radio22" name="radiog_lite">
                  <label for="radio22" class="css-label2" style="margin-top:-5px"></label>
                  <img src="img/pay.png"></div>
                <div class="ch-bx">
                  <input type="radio" class="css-checkbox2" id="radio32" name="radiog_lite">
                  <label for="radio32" class="css-label2"></label>
                  <img src="img/ph.png"></div>
                <div class="clear"></div>
              </div>
              <div class="form-step">
                <div class="txt-step"><span>Use your billing address for the shipping?</span></div>
                <div class="txt-step">
                  <div class="chk">
                    <input type="radio" class="css-checkbox3" id="radio31" name="radiog_lite">
                    <label for="radio31" class="css-label3"></label> YES</div>
                  <div class="chk">
                    <input type="radio" class="css-checkbox3" id="radio32" name="radiog_lite">
                    <label for="radio32" class="css-label3"></label> NO</div>
                </div>
                <!--
                <div class="txt-step"><span>First Name:</span><input type="text" class="sp-field"></div>
                <div class="txt-step"><span>Last Name:</span><input type="text" class="sp-field"></div>
                <div class="txt-step"><span>Company Name:</span><input type="text" class="sp-field"></div>
                <div class="txt-step"><span>Address - Line 1:</span><input type="text" class="sp-field"></div>
                <div class="txt-step"><span>Address - Line 2:</span><input type="text" class="sp-field"></div>
                <div class="txt-step"><span>City:</span><input type="text" class="sp-field"></div>
                <div class="txt-step"><span>State / Province:</span><input type="text" class="sp-field"></div>
                <div class="txt-step"><span>Zip / Postal Code:</span><input type="text" class="sp-field"></div>
                <div class="txt-step"><span>Country :</span><input type="text" class="sp-field"></div>
                <div class="txt-step"><span>Phone Number:</span><input type="text" class="sp-field"></div>
                -->
                <div class="txt-step"><span>Card Number:</span><input type="text" name="card_number" class="sp-field"></div>
                <div class="txt-step"><span>Card Type:</span><a href="#"><img src="img/cart.png"></a></div>
                <div class="txt-step"><span>Exp.Date:</span><input type="text" name="card_expiration_month" class="sp-field wd"><input type="text" name="card_expiration_year" class="sp-field wd"></div>
                <div class="txt-step"><span>Security Code:</span><input type="text" name="card_cvv2" class="sp-field wd"><p class="p">What is it?</p></div>
                <div class="txt-step chk1"><input type="checkbox"><p>By submitting my order I agree to the<br /> <a href="#">Terms & Conditions.</a> | <a href="#">Privacy Policy</a></p><div class="clear"></div></div>
                <div class="or-bt">
                  <input type="hidden" name="prospect" value="<%= prospect %>"/>
                  <input type="submit" value="submit">
                </div>
                <div class="mc1">
                  <a href="#"><img src="img/mc1.png"></a>
                </div>
              </div>
            </div>
      </form><!--op-form-->
      <div class="clear"></div>
      </section>
    </div><!--wrap4-->
    <footer class="footerText">
      <p>
        Copyright 2014 eGlobal Natural Health (E Global Communications Ltd.)<br />
        All Rights Reserved<br /><br />
        North America Head Office: 14781 Memorial Drive - Suite 1821, Houston, TX USA 77079<br />
        South America Head Office: 8310 Via Argentina Street, Panama, Rep. of Panama
      </p>
    </footer>
</div><!--main-->
</body>
</html>
