@font-face {
	font-family: 'MyriadProSemibold';
	src: url('./MyriadProSemibold.eot');
	src: local('MyriadProSemibold'), url('./MyriadProSemibold.woff') format('woff'), url('./MyriadProSemibold.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_6752">Text with this font applied</p> */
.fontsforweb_fontid_6752 {
	font-family: 'MyriadProSemibold' !important;
}

/* Font downloaded from FontsForWeb.com */